/*
Theme Name: Sync.Land (Hello Elementor Child)
Theme URI: https://sync.land
Description: Hello Elementor WordPress theme child.
Author: Ian McCullough, Awen
Author URI: https://awen.online
Template: hello-elementor
Version: 1.0
*/

/* Parent stylesheet should be loaded from functions.php not using @import */