/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 24, 2022, 6:29:35 PM
    Author     : Ian
*/

#gfve-entry-details .gfve-entry-field { margin-bottom: 10px; }
#gfve-entry-details .gfve-field-label { display: block; font-weight: bold; }
#gfve-entry-details .gfve-field-val + .gfve-field-val:before { content: ', '; }

