/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 12, 2023, 9:53:53 PM
    Author     : Ian
*/
.gf_readonly input{
    border: none !important;
    background: none;
    padding: 0 !important;
    margin: 0;
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.4; /* Adjust line height as needed */
    color: #900;
    width: 100%;
    resize: none;
    overflow: hidden;
    outline: none;
}

#input_2_1_5_container{
    margin-top:10px;
}

#input_2_1_5{
    height:40px;
}
/*/TICKET PURCHASE*/
/*.gform_wrapper input[type="text"]{
    line-height:1 !important;
} */

/*//formid 2 and fieldid=25*/
#ginput_product_price_2_25 > span.ginput_product_price_label, #ginput_product_price_2_30 > .ginput_product_price_label
{
    display:none;
}

.border-top {
    border-top: 1px solid #000; /* Customize border width and color */
    /*width: 50%;*/
}

.gform_wrapper.gravity-theme input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]):not([type=submit]) {
    line-height: 1 !important;
}


/*//IMAGE PREVIEW FOR FORMS // PLACEHOLDER IMAGE*/

#image-preview-container {

    position: relative;

}

#image-preview {
    /*background-image: url('https://www.tikit.live/wp-content/uploads/2023/10/2to1.png');  Replace with the path to your placeholder image */
    background-size: cover; /* Adjust as needed to fit your design */
    background-position: center; /* Adjust as needed to fit your design */
    background-color: #ccc; /* Grey background color */
}
#image-preview::before,
#image-preview::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

/* Diagonal left-to-right black cross */
#image-preview::before {
    background: linear-gradient(to bottom left, transparent 48.5%, black 48.5%, black 51.5%, transparent 51.5%);
}

/* Diagonal right-to-left black cross */
#image-preview::after {
    background: linear-gradient(to bottom right, transparent 48.5%, black 48.5%, black 51.5%, transparent 51.5%);
}

div.user-registration-profile-header > header > span {
    display:none;
}



/*//VENUE CUSTOM SELECTOR*/

.custom-venue-selector {
  /* Hide the native radio buttons. */
  input[type="radio"] {
    display: none;
  }

  /* Style the custom selector. */
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;

  /* Position the custom selector over the native radio buttons. */
  position: absolute;
  top: 0;
  left: 0;

  /* Add a border to the selected option. */
  .selected {
    border: 1px solid #000;
  }
}

/* Add event listeners to the custom selector. */
.custom-venue-selector label {
  display: inline-block;
  width: 50%;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }

  &.selected {
    background-color: #000;
    color: #fff;
  }

}


/*custom overrides*/
.gform-theme--api,.gform-theme--foundation {
    --gform-theme-form-row-gap: 20px !important
}

.ginput_container input{
    text-align:left;
}

.gfield--type-choice .gfield_radio{
    flex-direction: row !important;
    flex-wrap: nowrap !important;
}


/*ticket checkout bolding overrides*/
.ginput_product_price{
    font-weight: 500 !important;
}

.ginput_product_price_wrapper{
    font-weight: 500 !important;
}

.ginput_total{
    font-weight: 500 !important;

}

/*//total*/
#input_2_2 {
     padding: 0 !important;
}

/* Spinner */
.gform_ajax_spinner {
    position: fixed !important;
    z-index: 999999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block !important;
    overflow: hidden  !important;
    width: 100% !important;
    height: 100% !important;
    /*background-color: rgba(0, 0, 0);  fall back */
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background-color: white;
    background-image: url('https://www.tikit.live/wp-content/uploads/2023/11/ticket-printing-optimized-1.gif'); 
    background-repeat: no-repeat;
    background-position: center center;
    
    background-size: 60vw auto; /* Default for mobile */

    /*animation: rotation 1s linear infinite;*/
}

/* Media query for desktop */
@media (min-width: 768px) {
    .gform_ajax_spinner {
        background-size: 600px auto;
    }
}




@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}