/* wp-content/themes/oceanwp-child/song-upload-styles.css */
.col { margin: 0px 0px 5px 0px !important; }
.genrebtn { background-color: #61ce70; }
.moodbtn { background-color: #13aff0; }
.selectbtn { font-size: 10px; line-height: .75; padding: 10px 10px; }
.song { padding: 10px; border-bottom: black; border-bottom-style: solid; border-bottom-width: 1px; }
.progressBar {
    background-color: #3E6FAD; width: 0px; height: 30px; margin-top: 10px; margin-bottom: 10px;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px;
    -moz-transition: .25s ease-out; -webkit-transition: .25s ease-out; -o-transition: .25s ease-out; transition: .25s ease-out;
}
.hidden { display: none !important; }
.entry-content { padding-left: 10px; padding-right: 10px; }
.tracknumber-div { background: #666666; color: white; padding: 15px 10px 15px 15px; }
#search { width: 90%; }
.searchicon { color: #5CB85C; }
.items-collection { margin: 20px 0 0 0; }
.items-collection label.btn-default.active { background-color: #007ba7; color: #FFF; }
.items-collection label.btn-default {
    width: 90%; border: 1px solid #305891; margin: 5px; border-radius: 17px; color: #305891;
}
.items-collection .btn-group { width: 90%; }
.span_1_of_1 { padding-top: 10px; padding-bottom: 10px; }
body .oceanwp-row .col { padding: 0 1px; }
.required:after { content: " *"; color: red; }
.visually-hidden { opacity: 0; width: 5px; }
.box {
    display: inline-block; width: 70px; height: 70px; background-color: white;
    border: 4px dashed #B5B5B5; color: #B5B5B5; font-size: 50px; text-align: center; padding: 30px;
}
/* wp-content/themes/hello-elementor-child-sync-land/song-upload-styles.css */
.song-upload-success {
    text-align: center;
    padding: 20px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    margin: 20px 0;
}
.song-upload-success i {
    color: #3c763d;
    font-size: 40px;
    margin-bottom: 10px;
}
.song-upload-success h2 {
    color: #3c763d;
    margin: 10px 0;
}
.song-upload-success .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
/* wp-content/themes/hello-elementor-child-sync-land/song-upload-styles.css */
.items-collection .oceanwp-row.clr {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.items-collection .span_1_of_4.col {
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
}
.items-collection .span_1_of_4.col label {
    display: block;
    margin-bottom: 10px;
}
.items-collection .oceanwp-row .span_1_of_4.col {
    flex: 0 0 25%;
    max-width: 25%;
}
@media (max-width: 768px) {
    .items-collection .span_1_of_4.col {
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 480px) {
    .items-collection .span_1_of_4.col {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}